openapi: 3.0.0
paths:
  /api/users/me:
    patch:
      operationId: UserController_updateProfile
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateUserDto'
      responses:
        '200':
          description: ''
      tags: &ref_0
        - User
    get:
      operationId: UserController_getProfile
      parameters: []
      responses:
        '200':
          description: ''
      tags: *ref_0
    delete:
      operationId: UserController_deleteAccount
      parameters: []
      responses:
        '200':
          description: ''
      tags: *ref_0
  /api/auth/register:
    post:
      operationId: AuthController_register
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RegisterDto'
      responses:
        '201':
          description: ''
      tags: &ref_1
        - Auth
  /api/auth/verify-email:
    get:
      operationId: AuthController_verifyEmail
      parameters:
        - name: token
          required: true
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
      tags: *ref_1
  /api/auth/login:
    post:
      operationId: AuthController_login
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginDto'
      responses:
        '201':
          description: ''
      tags: *ref_1
  /api/auth/refresh:
    post:
      operationId: AuthController_refresh
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RefreshDto'
      responses:
        '201':
          description: ''
      tags: *ref_1
  /api/auth/logout:
    post:
      operationId: AuthController_logout
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LogoutDto'
      responses:
        '201':
          description: ''
      tags: *ref_1
  /api/auth/logout-all:
    post:
      operationId: AuthController_logoutAll
      parameters: []
      responses:
        '201':
          description: ''
      tags: *ref_1
  /api/auth/request-password-reset:
    post:
      operationId: AuthController_requestPasswordReset
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RequestPasswordResetDto'
      responses:
        '200':
          description: ''
      tags: *ref_1
  /api/auth/verify-reset:
    get:
      operationId: AuthController_verifyResetToken
      parameters:
        - name: token
          required: true
          in: query
          schema:
            type: string
      responses:
        '200':
          description: ''
      tags: *ref_1
  /api/auth/reset-password:
    post:
      operationId: AuthController_resetPassword
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordDto'
      responses:
        '200':
          description: ''
      tags: *ref_1
  /api/health:
    get:
      operationId: HealthController_readiness
      parameters: []
      responses:
        '200':
          description: The Health Check is successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: ok
                  info:
                    type: object
                    example: &ref_2
                      database: &ref_3
                        status: up
                    additionalProperties:
                      type: object
                      required:
                        - status
                      properties:
                        status:
                          type: string
                      additionalProperties: true
                    nullable: true
                  error:
                    type: object
                    example: {}
                    additionalProperties:
                      type: object
                      required:
                        - status
                      properties:
                        status:
                          type: string
                      additionalProperties: true
                    nullable: true
                  details:
                    type: object
                    example: *ref_2
                    additionalProperties:
                      type: object
                      required:
                        - status
                      properties:
                        status:
                          type: string
                      additionalProperties: true
        '503':
          description: The Health Check is not successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: error
                  info:
                    type: object
                    example: *ref_2
                    additionalProperties:
                      type: object
                      required:
                        - status
                      properties:
                        status:
                          type: string
                      additionalProperties: true
                    nullable: true
                  error:
                    type: object
                    example:
                      redis: &ref_4
                        status: down
                        message: Could not connect
                    additionalProperties:
                      type: object
                      required:
                        - status
                      properties:
                        status:
                          type: string
                      additionalProperties: true
                    nullable: true
                  details:
                    type: object
                    example:
                      database: *ref_3
                      redis: *ref_4
                    additionalProperties:
                      type: object
                      required:
                        - status
                      properties:
                        status:
                          type: string
                      additionalProperties: true
      tags: &ref_5
        - Health
  /api/health/live:
    get:
      operationId: HealthController_liveness
      parameters: []
      responses:
        '200':
          description: ''
      tags: *ref_5
  /api/addresses:
    post:
      operationId: AddressController_createAddress
      parameters: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAddressDto'
      responses:
        '201':
          description: ''
      tags: &ref_6
        - Address
    get:
      operationId: AddressController_findAll
      parameters: []
      responses:
        '200':
          description: ''
      tags: *ref_6
  /api/addresses/{id}:
    get:
      operationId: AddressController_findOne
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: ''
      tags: *ref_6
    patch:
      operationId: AddressController_updateAddress
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UpdateAddressDto'
      responses:
        '200':
          description: ''
      tags: *ref_6
    delete:
      operationId: AddressController_deleteAddress
      parameters:
        - name: id
          required: true
          in: path
          schema:
            type: string
      responses:
        '200':
          description: ''
      tags: *ref_6
info:
  title: E-Commerce Fashion API
  description: API documentation for the Fashion E-commerce backend
  version: '1.0'
  contact: {}
tags: []
servers: []
components:
  securitySchemes:
    bearer:
      scheme: bearer
      bearerFormat: JWT
      type: http
  schemas:
    UpdateUserDto:
      type: object
      properties: {}
    RegisterDto:
      type: object
      properties: {}
    LoginDto:
      type: object
      properties: {}
    RefreshDto:
      type: object
      properties: {}
    LogoutDto:
      type: object
      properties: {}
    RequestPasswordResetDto:
      type: object
      properties: {}
    ResetPasswordDto:
      type: object
      properties: {}
    CreateAddressDto:
      type: object
      properties: {}
    UpdateAddressDto:
      type: object
      properties: {}
